.user-info {
  text-align: right;
}
.user-info h4 {
  font-size: 1.5em;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 2%;
}
.tab-title {
  font-size: 1.1em;
  margin: 2%;
}
.profile-page__list-item {
  border-bottom: 1px solid grey;
  padding: 2%;
}
.profile-page__list-item--title {
  font-size: 1em;
}
.profile-page__list-item--title {
  font-size: 0.9em;
}
.profile-page__list-item--category,
.profile-page__list-item--vote-count {
  font-size: 0.85em;
}
