@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

header {
  background-color: #0089ff;
  height: 30px;
  padding: 3% 2% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 101%;
}
.brand {
  display: flex;
  font-size: 25px;
  align-items: center;
}
.brand h1 {
  font-size: 18px;
  margin-left: 3%;
  font-family: 'Bowlby One SC', cursive;
  text-shadow: -2px 2px 1px #e71d36;
  color: white;
}
.logo {
  margin-right: 2%;
}
nav {
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  height: 60%;
}

@media screen and (min-width: 650px) {
  .brand h1 {
    font-size: 35px;
  }
}
/* header {
    background-color: #0089ff;
    height: 100px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 101%;
}
.brand {
    display: flex;
    font-size: 50px;
    align-items: center;
}
.brand h1 {
    font-size: 35px;
    margin-left: 3%;
    font-family: 'Bowlby One SC', cursive;
    text-shadow: -2px 2px 1px #e71d36;
    color: white;
}
.logo {
    margin-right: 2%;
}
nav {
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 60%;
} */
