.add-restaurant-form--page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.add-restaurant-form--outer {
  min-width: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.current-filtered-list {
  border: 1px solid black;
  border-radius: 16px;
  padding: 1%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.current-filtered-list--name {
  font-size: 0.95em;
}
.current-filtered-list--subtitle {
  font-size: 0.8em;
}
.current-filtered-list--category {
  font-size: 0.5em;
}
.filtered-list--container {
  margin-top: 5%;
  padding: 3%;
  min-width: 500px;
}

.result-list-item {
  border-bottom: 1px solid black;
  padding: 2%;
}
.result-list-item:hover,
.result-list-item:focus {
  background-color: rgb(194, 194, 250);
  cursor: pointer;
}

.submit-form--outer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(39, 39, 39, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.submit-form--inner {
  background-color: white;
  height: 500px;
  width: 80%;
  max-width: 700px;
  padding: 3%;
}
